body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.pin {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    /* margin: 20px 20px; */
    padding: 10px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #FFF, #EEE);
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 3px;
}

.pin p {
    font: 24px/28px Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    max-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#isSingedIn{
    justify-content: right;
}

#loginPage > h1{
    text-align: center;
    margin-bottom: 50px;
}

#roseFireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

.bmd-layout-content{
    height: 100vh;
}

.bmd-layout-drawer>header{
background-color: #800000;
color: white;
}

.bmd-layout-drawer>ul{
background-color: #DDDDDD;
}

.list-group-item :first-child{
    margin-right: 0.75rem;
}

.pin button{
    display: block;
    margin: 30px auto;
    background: #ff5c00;
    border-radius: 5px;
}

